@mixin leftyellowborder {
    border-left: 3px solid $yellow;
    padding-left: 1%;
}
@mixin flexaround {
    display: flex;
    justify-content: space-around;
}
@mixin yellowbutton {
    border: 2px solid $dark;
    border-radius: 5px;
    background-color: $yellow;

    color: $dark;
    font-size: 1em;
    font-weight: 700;

    padding: 1% 1%;
}

@import "colors";
@import "text";
@import "boka";
@import "mina-resor";

body { 
    main {
        line-height: 190%;
        border-top: 3px solid $yellow;
        background-color: $white;
    }

    .innercontent {
        padding-left: 8%;
        padding-right: 8%;
    }

    #flexwrapper {
        display: block;

        #flexleft {
            margin-bottom: 5%;
            background-color: $navy;
            color: $white;
        }
        #flexright {
            background-color: $gray;
            color: $dark;
        }

        #flexleft, #flexright {
            border-radius: 15px;
            padding: 1% 2%;

            h2 {
                border-left: none;
            }
        }
    }

    #container {
        padding-left: 2%;
        padding-right: 2%;
    }

    header {
        display: flex;
        justify-content: space-around;
        align-items: center;

        #flexright {
            form {
                input[type=search] {
                    border: 2px solid $dark;
                    border-radius: 5px;
                }
            }
            nav {
                ul {
                    list-style: none;
                    padding-left: 0;

                    display: flex;
                    justify-content: space-around;

                    li {
                        a {
                            color: $dark;
                            font-size: 1.2em;
                            font-weight: 700;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }

    #logo > a > picture > img {
        max-width: 230px;
    }

    footer {
        width: 100%;
        color: $white;
        background-color: $navy;
        @include flexaround();

        nav {
            ul {
                list-style: none;

                li {
                    a {
                        color: $white;
                        font-weight: 600;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}


@media only screen and (min-width: 650px) {
    body {
        #container {
            width: 650px;
            margin-left: auto;
            margin-right: auto;
        }

        #flexwrapper {
            display: flex;
            justify-content: space-around;

            #flexleft {
                margin-bottom: unset;
            }
    
            #flexleft, #flexright {
                width: 40%;
            }
    
        }
    }
}

@media only screen and (min-width: 1285px) {
    body {
        width: 1285px;
        margin-left: auto;
        margin-right: auto; 
    }
}