@mixin leftyellowborder {
    border-left: 3px solid $yellow;
    padding-left: 1%;
}
@mixin flexaround {
    display: flex;
    justify-content: space-around;
}
@mixin yellowbutton {
    //border: 2px solid $dark;
    border-radius: 5px;
    background-color: $dark;
    color: $yellow;
    font-size: 1em;
    font-weight: 700;

    padding: 1% 1%;
}
@mixin yellowbuttonHover {
    background-color: $yellow;
    color: $dark;
}

@import "colors";
@import "text";
@import "boka";
@import "mina-resor";

html {
    max-height: 100vh;
}

body { 
    border: none;
    margin: 0;

    input[type=submit] {
        @include yellowbutton();
        padding: 2% 4%;
    }
    input[type=submit]:hover {
        @include yellowbuttonHover();
    }
    input[type=checkbox], input[type=radio] {
        vertical-align: middle;
        height: 1.4em;
        width: 1.4em;
    }

    main {
        line-height: 190%;
        border-top: 3px solid $yellow;
        background-color: $white;

        .warning {
            background-color: $yellow;
            color: $black;

            border-radius: 15px;
            padding: 1% 6%;
            margin-top: 5%;
            margin-bottom: 5%;

            h2 {
                padding-left: none;
                border-left: none;
            }
        }
        /*
        .alt2 {
            // Pink background black text?
        }
        */
    }

    form {
        input[type=text], input[type=email], input[type=password] {
            width: 90%;
            margin-left: auto;
            margin-right: auto;
        }
        input[type=submit] {
            text-align: center;
            width: 95%;
        }
    }


    table {

        th {
            text-align: left;
        }
        td:nth-child(even), th:nth-child(even) {
            padding-left: 3%;
        }

        tr:nth-child(even) {
            background-color: $gray;
            border-radius: 5px;
        }

        #ungdomstaxa {
            display: none;
        }
    }


    .innercontent {
        padding-left: 8%;
        padding-right: 8%;

        form {
            input[type=email], input[type=password] {
                border: 1px solid $white;
                border-radius: 5px;

                padding: 2% 2%;

            }
            input[type=submit] {
                margin-top: 5%;
                text-decoration: none;
                cursor: pointer;
                border-radius: 5px;
                border: none;

                padding: 2% 2%;
                background-color: $white;
                color: $dark;
            }
            input[type=submit]:hover {
                background-color: $dark;
                color: $white;
            }
        }
    }

    #flexwrapper {
        display: block;

        #flexleft {
            margin-bottom: 5%;
            background-color: $navy;
            color: $white;
        }
        #flexright {
            background-color: $gray;
            color: $dark;
        }

        #flexleft, #flexright {
            border-radius: 15px;
            padding: 1% 2%;

            h2 {
                border-left: none;
            }
        }
    }

    #container {
        padding-left: 2%;
        padding-right: 2%;
    }

    header {

        #logo:hover {
            
        }

        #headerright {
            min-width: 250px;
            form {
                margin-bottom: 4%;
                text-align: center;

                input[type=search] {
                    border: 2px solid $dark;
                    border-radius: 5px;
                    width: 78%;
                    padding: 1% 2%;
                }

                button {
                    background-color: $dark;
                    border: 1px solid $dark;
                    border-radius: 5px;
                    padding: 1% 2%;
        
                    img {
                        width: 15px;
                        height: auto;
                    }
                }
                button:hover {
                    background-color: $navy;
                    cursor: pointer;
                }
            }
            
            nav {
                ul {
                    margin-top: 1%;
                    margin-bottom: 1%;
                    list-style: none;
                    padding-left: 0;

                    display: flex;
                    justify-content: center;

                    li {
                        margin-left: 2%;
                        margin-right: 2%;
                        a {
                            color: $dark;
                            font-size: 1.2em;
                            font-weight: 700;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }

    #logo > a > picture > img {
        max-width: 230px;
        height: auto;
    }
    #logo {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    footer {
        width: 100%;
        padding-bottom: 1%;
        color: $white;
        background-color: $navy;

        #footerleft {
            p {
                padding-top: 3%;
                text-align: center;
            }
        }

        

        nav {
            ul {
                list-style: none;
                padding-inline-start: 0;

                li {
                    margin-top: 1%;
                    margin-bottom: 1%;
                    text-align: center;
                    a {
                        
                        color: $white;
                        font-weight: 600;
                        text-decoration: none;
                    }
                }
            }
        }


    }
}


@media only screen and (min-width: 650px) {
    body {

        header {
            display: flex;
            justify-content: space-around;
            align-items: center;

            #headerright {

                form {
                    margin-bottom: 2%;
                }
                nav {
                    ul {
                        justify-content: space-around;
                    }
                }

            }

            #headersearch {
                margin-bottom: initial;
            }
        }

        #container {
            width: 650px;
            margin-left: auto;
            margin-right: auto;
        }

        #flexwrapper {
            display: flex;
            justify-content: space-around;

            #flexleft {
                margin-bottom: unset;
            }
    
            #flexleft, #flexright {
                width: 40%;
            }
    
        }

        footer {
            @include flexaround();
            padding-bottom: initial;

            #footerleft {
                p {
                    text-align: left;
                }
            }

            nav {
                ul {
                    li {
                        text-align: left;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1285px) {
    body {
        width: 1285px;
        margin-left: auto;
        margin-right: auto; 
    }
}