</div>
</main>
<footer>
    <div id="footerleft">
        <p>Kungälvs Färdtjänst<br>
            Ytterbyvägen 2<br>
            442 81 Kungälv<br>
            <!-- Telefonnummer:<br>--> 
            <a href="+46303238000" aria-label="Telefonnummer" class="lightlink">030 323 80 00</a>
        </p>
    </div>
    <nav aria-label="Fotmeny">
        <ul>
            <li><a href="information.html">Information om vår färdtjänst</a></li>
            <li><a href="ansok.html">Ansök om färdtjänst</a></li>
            <li><a href="redogarelse.html">Redogörelse för tillgänglighet</a></li>
            <li><a href="kundservice.html">Kundservice</a></li>
        </ul>
    </nav>
</footer>
<script src="javascript/main.js"></script>
</body>
</html>