</div>
</main>
<footer>
    <div id="footerleft">
        <p>Kungälvs Färdtjänst<br>
            Ytterbyvägen 2<br>
            442 81 Kungälv<br>
            Telefonnummer:<br>
            030 323 80 00
        </p>
    </div>
    <nav aria-label="Fotmeny">
        <ul>
            <li><a href="">Regler och villkor</a></li>
            <li><a href="">Hur ansöker jag om färdtjänst?</a></li>
            <li><a href="">Redogörelse för tillgänglighet</a></li>
            <li><a href="">Kundservice</a></li>
        </ul>
    </nav>
</footer>
</body>
</html>