<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>Kungälvs Färdtjänst</title>
</head>
<body>
    <header>
        <div id="logo">
            <a href="index.html">
                <picture>
                    <img src="assets/logga.png" alt="Kungälvs Färdtjänst">
                    <!--<source srcset="assets/logga.webp" type="image/webp" alt="Kungälvs Färdtjänst">-->
                    
                </picture>
            </a>
        </div>

        <div id="flexright">
            <span>Mitt konto</span>
        </div>
    </header>
    <main>
        <div id="container">