<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">
    <title>Kungälvs Färdtjänst</title>
</head>
<body>
    <header>
        <div id="logo">
            <a href="index.html">
                <picture>
                    <img src="assets/logga.png" alt="Kungälvs Färdtjänst">
                </picture>
            </a>
        </div>

        <div id="headerright">
            <nav aria-label="Meny">
                <ul>
                    <li><a href="boka.html">Boka resa</a></li>
                    <li><a href="mina-resor.html">Mina resor</a></li>
                </ul>
            </nav>
            <form action="/sok.html" role="search" id="headersearch">
                <input type="search" role="searchbox" name="search" id="search" spellcheck="false" aria-placeholder="Sök" aria-label="Sök">
                <button type="submit">
                    <img src="assets/search.png" alt="Sök">
                </button>
            </form>
        </div>
    </header>
    <main>
        <div id="container">